body
	padding-top 61px

.navbar-header a.navbar-brand
	margin-top -10px
	margin-bottom -20px
	h6
		color: #eee
		margin 3px 0

.navbar-nav
	a
		border-left 1px solid #444

.navbar-form
	.form-group
		margin-left 10px
		input 
			padding 5px
	button
		margin-left 10px