body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -10px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #eee;
  margin: 3px 0;
}
.navbar-nav a {
  border-left: 1px solid #444;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form .form-group input {
  padding: 5px;
}
.navbar-form button {
  margin-left: 10px;
}
