.container
	.jumbotron
		h1 MEAN APP
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam soluta magnam praesentium eveniet repudiandae, dolore laborum odio optio obcaecati doloribus, nam ad blanditiis quam, ratione doloremque libero nostrum ut. Nisi!

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")